@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
figcaption,
figure,
main {
  display: block;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
audio,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
progress {
  display: inline-block;
  vertical-align: baseline;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
details,
menu {
  display: block;
}
summary {
  display: list-item;
}
canvas {
  display: inline-block;
}
template {
  display: none;
}
[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GENERAL STYLES */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* HEADER */
header {
  padding-top: 3rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  font-weight: normal;
  line-height: 7rem;
  text-transform: uppercase;
  width: 60rem;
  text-align: right;
  margin: 1rem 0 0;
}

h2 {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 0;
  letter-spacing: 0.3rem;
}

h2:after {
  content: " • •";
  font-size: 1.6rem;
}

header a {
  font-size: 3.5rem;
  position: relative;
  bottom: 2.5rem;
  transition: all 0.3s ease;
}

header a:hover {
  color: rgb(80, 80, 80);
}

.arrow-down {
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.image {
  width: 100%;
  opacity: 80%;
}

/* Main- DESCRIPTION */
main section {
  display: flex;
  margin: 0 0 3rem;
}

.description {
  padding-right: 5rem;
  margin-top: 5rem;
}

.description span {
  font-style: italic;
}

/* Main- FORM */
.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30rem 3rem 3rem;
  border-bottom: 0.25rem solid #000;
  border-left: 0.1rem solid #000;
}

::placeholder {
  font-style: italic;
}

textarea {
  resize: none;
  font-family: "Lato", sans-serif;
  padding: 2rem;
  border: 1px solid #000;
}

.share-button {
  font-family: "Lato", sans-serif;
  border: 1px solid #fff;
  color: #fff;
  background: #000;
  padding: 1rem 2rem;
  margin-top: 2.5rem;
  transition: all 0.3s ease;
}

.share-button:hover {
  cursor: pointer;
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
  font-style: italic;
}

.submit-error {
  position: absolute;
  bottom: 2.3rem;
  left: 3.2rem;
  font-weight: bold;
  font-style: italic;
}

/* GALLERY */
ul {
  list-style: none;
  padding: 0;
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 35rem;
  height: 30rem;
  padding: 8rem;
  margin: 5rem 0;
  position: relative;
}

.frame {
  position: absolute;
  padding: 1rem;
  opacity: 75%;
}

button.delete-input {
  background: transparent;
  border: none;
  padding: 0.5rem;
  position: absolute;
  top: 6.5rem;
  right: 5.2rem;
}

.delete-input {
  transition: all 0.3s ease;
}

.delete-input:hover {
  cursor: pointer;
  color: #912424;
}

/* FOOTER */
footer {
  text-align: center;
  font-style: italic;
  font-size: 1.6rem;
  padding: 8rem 0 1rem;
}
