@import url("https://fonts.googleapis.com/css2?family=Lato&family=Playfair+Display&display=swap");

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
footer,
header,
section {
  display: block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
main {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
img {
  border-style: none;
}
button,
input,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
input {
  overflow: visible;
}
button {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 0.1rem dotted ButtonText;
}
textarea {
  overflow: auto;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* GENERAL STYLES */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-size: 2rem;
  font-family: "Lato", sans-serif;
}

.wrapper {
  max-width: 1440px;
  width: 90%;
  margin: 0 auto;
}

img {
  max-width: 100%;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

.share-button,
.confirm-delete {
  font-family: "Lato", sans-serif;
  border: 0.1rem solid #fff;
  color: #fff;
  background: #000;
  padding: 1rem 2rem;
  margin-top: 2.5rem;
  transition: all 0.3s ease;
}

.share-button:hover,
.share-button:focus,
.confirm-delete:hover,
.confirm-delete:focus {
  cursor: pointer;
  background-color: #fff;
  border: 0.1rem solid #000;
  color: #000;
  font-style: italic;
}

.delete-input,
.exit-modal {
  background: transparent;
  border: none;
  padding: 0.5rem;
  position: absolute;
  transition: all 0.3s ease;
  z-index: 10;
}

.delete-input:hover,
.delete-input:focus,
.exit-modal:hover,
.exit-modal:focus {
  cursor: pointer;
}

/* HEADER */
.top-container {
  height: 25rem;
  border-right: 0.1rem solid black;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 3rem 5rem 0;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 8rem;
  font-weight: normal;
  line-height: 7rem;
  text-transform: uppercase;
  width: 60rem;
  text-align: right;
  margin: 1rem 0 0;
}

h2 {
  font-weight: normal;
  font-size: 2rem;
  margin-bottom: 0;
  letter-spacing: 0.3rem;
  text-align: right;
}

h2:after {
  content: " • •";
  font-size: 1.6rem;
}

header a {
  font-size: 3.5rem;
  position: relative;
  bottom: 3rem;
  transition: all 0.3s ease;
}

header a:hover,
header a:focus {
  color: #505050;
}

.arrow-down {
  animation: bounce 5s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.image {
  width: 100%;
  opacity: 0.8;
}

/* Main- DESCRIPTION */
main .section {
  display: flex;
  margin: -0.5rem 0 3rem;
}

.description {
  padding-right: 5rem;
  margin-top: 5rem;
}

.description span {
  font-style: italic;
}

/* Main- FORM */
.form-container {
  display: flex;
  flex-direction: column;
  position: relative;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 30rem 3rem 3rem;
  border-bottom: 0.25rem solid #000;
  border-left: 0.1rem solid #000;
  width: 66rem;
}

::placeholder {
  font-style: italic;
}

textarea {
  resize: none;
  font-family: "Lato", sans-serif;
  padding: 2rem;
  border: 0.1rem solid #000;
  width: 60rem;
}

.submit-error {
  position: absolute;
  bottom: 2.3rem;
  left: 3.2rem;
  font-weight: bold;
  font-style: italic;
}

/* Main- EXHIBIT */
.exhibit {
  position: relative;
}

/* Main- GALLERY */
ul {
  list-style: none;
  padding: 3rem 0;
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 35rem;
  height: 30rem;
  padding: 8rem;
  margin: 3rem 0;
  position: relative;
}

.moments {
  background: #fff;
  text-align: center;
  padding: 1rem;
}

.frame {
  position: absolute;
  padding: 1rem;
  opacity: 0.75;
}

.delete-input {
  top: 0.5rem;
  right: -1rem;
  font-size: 2.2rem;
}

.delete-input:hover,
.delete-input:focus {
  color: #912424;
}

/* Main- PAINTINGS */
.painting-container {
  position: absolute;
}

.painting-container li {
  z-index: -1;
  padding: 4rem;
}

.painting-container img {
  opacity: 0.55;
}

/* Main- MODAL */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: #00000080;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 4.5rem 3rem 3rem;
  position: relative;
  background: #fff;
}

.exit-modal {
  top: 1rem;
  right: 1rem;
}

.exit-modal:hover,
.exit-modal:focus {
  color: #505050;
}

.hide-modal {
  display: none;
}

/* FOOTER */
footer {
  text-align: center;
  font-style: italic;
  font-size: 1.6rem;
  padding: 8rem 2rem 1rem;
}

/* MEDIA QUERIES */
@media (max-width: 1160px) {
  main .section {
    flex-direction: column;
    position: relative;
  }
  .description {
    position: absolute;
    padding-left: 5rem;
    width: 60%;
  }
  .form-container {
    border-bottom: 0.25rem solid #000;
    border-left: 0.1rem solid #000;
  }
  form {
    padding-top: 40rem;
    border: none;
    margin: 0 auto;
  }
  .submit-error {
    left: 25rem;
    bottom: 20rem;
  }
}

@media (max-width: 792px) {
  ul {
    justify-content: center;
  }
  li {
    margin: 0;
  }
}

@media (max-width: 720px) {
  .top-container {
    height: 22rem;
  }
  h1 {
    font-size: 6.5rem;
    line-height: 6rem;
    width: 50rem;
  }
  header a {
    font-size: 3rem;
    bottom: 2.8rem;
  }
  .description {
    width: 100%;
  }
  form {
    align-items: flex-start;
  }
  textarea {
    width: 60%;
    height: 15rem;
  }
  .submit-error {
    left: 3rem;
    bottom: 24rem;
    width: 80%;
  }
}

@media (max-width: 580px) {
  .top-container {
    height: 19rem;
  }
  .title {
    padding: 3rem 2rem 0 0;
  }
  h1 {
    font-size: 5rem;
    line-height: 4.5rem;
    width: auto;
  }
  h2 {
    letter-spacing: normal;
  }
  .description {
    padding: 0 2rem;
  }
  form {
    padding-top: 38rem;
  }
  .submit-error {
    width: 100%;
  }
}

@media (max-width: 420px) {
  .top-container {
    height: 22rem;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    width: 20rem;
  }
  header a {
    font-size: 3.5rem;
    bottom: 3.2rem;
    left: 1.5rem;
  }
  form {
    padding-top: 45rem;
    width: 100%;
  }
  textarea {
    width: 100%;
  }
  .submit-error {
    width: 70%;
  }
  li {
    font-size: 1.6rem;
  }
  .modal-content {
    font-size: 1.6rem;
  }
}

@media (max-width: 339px) {
  .top-container {
    height: 30rem;
  }
  textarea {
    height: 18rem;
  }
  .submit-error {
    bottom: 31rem;
  }
  li {
    padding: 6rem;
  }
  .delete-input {
    top: 2.5rem;
    right: -1rem;
  }
}
